/*
    Paleta de colores:
    - #2C3333
    - #2E4F4F
    - #0E8388
    - #CBE4DE
*/
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Itim&family=Poppins:wght@300&family=Zen+Dots&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Itim', cursive;
    height: 100vh;
}

.background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #2C3333, #CBE4DE);
}

.cabecera {
    text-align: justify;
    color: #CBE4DE;
    font-weight: bold;
    font-size: 10vh;
    font-family: 'Diplomata', cursive;
    padding: 5px 5px 5px 50px;
    border-radius: 0 0 30px 30px;
    background: linear-gradient(45deg, #2E4F4F, #CBE4DE);
}

.cabecera .tagline {
    background-color: transparent;
    padding: 5px;
    font-size: 3vh;
    margin: 0 0 0 30px;
}

.menu {
    margin: 10px;
    padding: 5px 5px 5px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(45deg, #2E4F4F, #CBE4DE);
}

.menu li {
    font-size: 4vh;
    font-weight: bold;
    padding: 0 10px 0 0;
    border-right: solid 1px #CBE4DE;
    margin: 0 5px 0 5px;
    list-style: none;
    display: inline-block;
    color: #CBE4DE;
}

a {
    color: unset;
    text-decoration: none;
}

.menu li a:hover {
    color: #2E4F4F;
    background: #CBE4DE;
}

.gameContainer {
    display: grid;
    width: 90%;
    grid-template-areas:"clock clock" 
                        "left right";
    grid-template-columns: 60% 40%;
    justify-items: center;
    margin: auto;
}

.gameContainer .clock {
    grid-area: clock;
    width: 50%;
    background: #2C3333;
    text-align: center;
    color: #CBE4DE;
    font-family: 'Diplomata', cursive;
    font-size: 2vh;
    line-height: 3.25vh;
    font-weight: bold;
}

.left, .right {
    border: 1px solid #2C3333;
}

.left {
    grid-area: left;
    color: #CBE4DE;
    background: #2E4F4F;
}

.left .imgContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.left .image {
    width: calc(50% - 10px);
}

.right {
    grid-area: right;
    display: grid;
    grid-template-columns: 100%;
    background: #0E8388;
    gap: 5px;
    padding: 10px;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.right .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.header .question {
    width: 90%;
    font-size: 4vh;
    text-align: center;
}

.header .lifepoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: lightgreen;
    border-radius: 50%;
    text-align: center;
}

.right .answer {
    display: grid;
    width: 100%;
}

.right .answer .word {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 4vh;
    gap: 2px;
}

.right .answer input:not([value=" "]) {
    width: 4vh;
    font-size: 2vh;
    background: transparent;
    border: none;
    border-bottom: 7.5px solid #2C3333;
    text-align: center;
}

.right .answer input[value=" "] {
    width: 4vh;
    font-size: 2vh;
    background: transparent;
    border: none;
    text-align: center;
}

.right .trueAnswer {
    display: block;
    font-size: 2.5vh;
    color: #CBE4DE;
    width: 90%;
    text-align: center;
}

.right .trueAnswer .title {
    color: #2C3333;
}

.right button {
    font-size: 2vh;
    width: 80%;
    background: #2C3333;
    color: #CBE4DE;
}

.right button:hover, .right button:focus {
    background: #CBE4DE;
    color: #2C3333;
}

@media only screen and (min-device-width: 250px) and (max-device-width: 900px){
    .cabecera {
        font-size: 3.5vh;
    }

    .cabecera .tagline {
        font-size: 1.5vh;
        margin: 0 0 0 10px;
    }

    .menu li {
        font-size: 2.5vh;
    }

    .gameContainer {
        width: 100%;
        grid-template-areas:"clock"
                            "left"
                            "right";
        grid-template-columns: 100%;
        flex-direction: column;
        margin: 0;
    }

    .right, .left {
        width: 100%;
    }

    .right button {
        width: 40%;
    }
}