/*
    Paleta de colores:
    - #08D9D6
    - #252A34
    - #FF2E63
    - #EAEAEA
*/

@layer base, tablet_movil, course-15, dropShadow;

@layer dropShadow {
    .removeShadow {
        filter: none;
    }
}

@layer course-15 {
    .target-container {
        min-height: 100px;
        width: 90%;
        margin: 10px auto;
        background: #252A34;
        box-shadow: 0 0 1px #08D9D6, 1px 1px 2px #08D9D6, 2px 2px 4px #08D9D6, 4px 4px 8px #08D9D6;
    }

    .target {
        display: grid;
        grid-template-areas: "ahorcado game";
        grid-template-columns: 1fr 3fr;
        color: #EAEAEA;
        padding: 10px;
    }

    .target .ahorcado {
        grid-area: ahorcado;
    }

    .target .ahorcado img {
        width: 100%;
        height: auto;
    }

    .target .game {
        grid-area: game;
        display: flex;
        flex-direction: column;
    }

    .game .wordguess {
        width: 100%;
        display: grid;
        place-items: center;
    }

    .wordguess input {
        font-size: 24px;
        padding: 10px;
        text-align: center;
        width: 40px;
        height: 40px;
        border: 2px solid #333;
        border-radius: 4px;
        outline: none;
        transition: 0.5s;
    }

    .wordguess input:focus {
        border-color: #08D9D6;
        box-shadow: 0 0 5px #08D9D6;
    }
}

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Roboto&display=swap');

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Roboto', sans-serif;
    }

    .background, .canvas {
        position: fixed;
        z-index: -10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        pointer-events: none;
        background: #252A34;
        opacity: 0;
    }

    .canvas {
        z-index: -11;
        opacity: 1;
    }

    .cabecera {
        position: relative;
        text-align: justify;
        color: #EAEAEA;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        border-radius: 30px 30px 0 0;
        background: linear-gradient(180deg, #FF2E63, #252A34, #252A34, #252A34);
    }
    
    .cabecera h1 {
        width: 100%;
        height: 100%;
        font-size: 10vh;
        text-indent: 25px;
    }

    .cabecera .tagline {
        position: absolute;
        font-size: 4vh;
        right: 2.5%;
        bottom: 10%;
    }

    .menu {
        padding: 5px 5px 5px 20px;
        border-radius: 0 0 30px 30px;
        background: linear-gradient(0, #FF2E63, #252A34, #252A34, #252A34);
        font-family: 'Raleway', sans-serif;
    }

    .menu ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(50px, 40px);
    }

    .menu li {
        height: 6vh;
        font-size: 4vh;
        font-weight: bold;
        padding: 0 10px 0 0;
        border-right: solid 1px #EAEAEA;
        margin: 0 5px 0 5px;
        list-style: none;
        display: grid;
        place-items: center;
        color: #EAEAEA;
        overflow: hidden;
    }

    .menu li:last-child {
        border-right: 0px;
    }

    a {
        position: relative;
        color: unset;
        text-decoration: none;
        outline: none;
    }

    .menu li a:hover, .menu li a:focus {
        color: #EAEAEA;
        text-shadow: 0 0 1px #EAEAEA, 1px 1px 2px #08D9D6, 2px 2px 4px #EAEAEA;
        font-size: 40px;
        transition: 1s;
    }

}

@layer tablet_movil {
    @media screen and (max-width: 1000px) {
        .cabecera h1 {
            font-size: 5.5vh;
        }

        .cabecera .tagline {
            font-size: 2.5vh;
        }

        .menu ul li {
            font-size: 3vh;
        }
    }

    @media screen and (max-width: 500px) {
        .cabecera h1 {
            font-size: 3vh;
        }
    
        .cabecera .tagline {
            font-size: 1.5vh;
        }

        .menu ul li {
            font-size: 2vh;
        }
    }
}