/*
    Paleta de colores:
    - #2C3333
    - #2E4F4F
    - #0E8388
    - #CBE4DE
*/
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Itim&family=Poppins:wght@300&family=Zen+Dots&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 30%;
    font-family: 'Itim', cursive;
    height: 100vh;
}

.background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #2C3333, #CBE4DE);
}

.cabecera {
    text-align: justify;
    color: #CBE4DE;
    font-weight: bold;
    font-size: 10vh;
    padding: 5px 5px 5px 50px;
    border-radius: 0 0 30px 30px;
    background: linear-gradient(45deg, #2E4F4F, #CBE4DE);
}

.cabecera .tagline {
    background-color: transparent;
    padding: 5px;
    font-size: 3vh;
    margin: 0 0 0 30px;
}

.menu {
    margin: 10px;
    padding: 5px 5px 5px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(45deg, #2E4F4F, #CBE4DE);
}

.menu li {
    font-size: 4vh;
    font-weight: bold;
    padding: 0 10px 0 0;
    border-right: solid 1px #CBE4DE;
    margin: 0 5px 0 5px;
    list-style: none;
    display: inline-block;
    color: #CBE4DE;
}

a {
    color: unset;
    text-decoration: none;
}

.menu li a:hover {
    color: #2E4F4F;
    background: #CBE4DE;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
    padding-bottom: 20px;
    width: 90%;
    min-height: 10vh;
}

section article {
    min-width: 100%;
    min-height: 100%;
    box-shadow: 2px 2px 20px #0E8388;
    background: #2C3333;
    color: #CBE4DE;
}

section article h3 {
    font-size: 4vh;
    text-indent: 2.5vh;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imgContainer .item {
    width: 18%;
    margin-right: 2%;
    height: auto;
}

.imgContainer .optional {
    animation: neon 2s linear infinite;
}

.imgContainer .item img {
    width: 100%;
    height: calc(100% / 5%);
}

.imgContainer .item .description {
    width: 100%;
    text-align: center;
    font-size: 3vh;
}

.imgContainer .item .special-1 {
    padding-right: 4vh;
}

.imgContainer .item .icon {
    position: relative;
    top: 1vh;
    padding-top: 1%;
    width: 4vh;
}

#result .imgContainer img {
    width: 40%;
    height: auto;
    border-radius: 20px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0;
}

.button-group button {
    font-size: 3vh;
    border-radius: 2.5vh;
    border: solid 1px #0E8388;
    background: #CBE4DE;
    color: #2C3333;
    padding: 0 10px;
    margin-right: 10px;
}

.button-group:last-child {
    margin-right: 0;
}

.button-group button:hover {
    background: transparent;
    color: #CBE4DE;
}

@media only screen and (min-device-width: 250px) and (max-device-width: 900px){
    .cabecera {
        font-size: 4vh;
    }

    .cabecera .tagline {
        font-size: 2vh;
        margin: 0 0 0 10px;
    }

    .menu li {
        font-size: 2.5vh;
    }
    
    .imgContainer .item {
        width: 15%;
        margin-right: 4%;
    }

    .imgContainer .item .description {
        font-size: 2vh;
    }

    .special-1 {
        padding-right: 0;
    }

    .special-2 {
        font-size: 1vh;
    }
}

@keyframes neon {
    0% {
        background: #2C3333;
    } 50% {
        background: #3d4646;
    } 100% {
        background: #2C3333;
    }
}